* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  body {
    background-color: blueviolet;
    font-size: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh; 
    background-color: #cbcac8; 
    overflow-x: hidden;
  }

  .section1 {
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    background-color: #ce9523;
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  .Top {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    text-align: center;
  }

  .Menu {
    width: 94%;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;

    text-align: right;
  }

  .space-top {
    padding: 0;
    margin: 0;
    height: 100px;

  }

  .grid-main {
    padding: 0;
    margin: 100px auto;
    width: 94%;
    height: 60vh;
    display: flex;
  }

  .grid-main-one {

    padding: 0;
    margin: 0 auto;
    width: 50%;
    font-size: 100%;

  }

  .grid-main-two {
    padding: 0;
    margin: 0 auto;
    width: 50%;
    justify-content: right;
    text-align: right;

  }

  .grid-main-three {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    font-size: 100%;

  }



  h1 {
    padding: 0;
    margin: 0 auto;
    margin-top: 8%;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-decoration: underline;
    color: black;
    font-style: italic;
    font-size: 6.5em;
    -webkit-text-size-adjust: none;
  }

  .uih1 {
    padding: 0;
    margin: 0 auto;
    margin-top: 3%;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-decoration: underline;
    color: black;
    font-style: italic;
    font-size: 6.5em;
    -webkit-text-size-adjust: none;
  }

  .topTxt {
    padding: 0;
    margin-top: 5%;
    margin-left: 30%;
    font-family: 'Dosis', sans-serif;
    text-decoration: underline;
    color: black;
    font-style: italic;
    font-size: 2.4em;
  }

  .topTxt2 {
    padding: 0;
    margin-top: 3%;
    margin-left: 25%;
    font-family: 'Dosis', sans-serif;
    text-decoration: underline;
    color: black;
    font-style: italic;
    font-size: 2.4em;
  }

  .imgSize {

      width: 100%;
  }


  .section2 {
    background-color: #ce9523;
    background: url(../img/diagonal.svg);
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
    
  }

  .section3 {
    background: url(../img/ui-bg.jpg);
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
  }

  .section3over {
    background: url(../img/diagonal2.png);
    padding: 0;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    
  }

 

  .s2Txt {
    padding: 0;
    margin-top: 8%;
    margin-right: 30%;
    font-family: 'Dosis', sans-serif;
    text-decoration: underline;
    color: black;
    font-style: italic;
    font-size: 2.4em;
  }

  .section4 {
    background: url(../img/cv-bg.jpg);
    background-repeat: no-repeat;

    height: 100%;
    padding: 0;
    margin: 0;
    margin-top: 0;

    box-sizing: border-box;
    
  }

  /* RESUME STYLES  */

  .resumeh1 {
    width: 15%;
    padding: 0px 0px 10px 10px;
    margin: 0 auto;
    margin-top: 0%;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-decoration: underline;
    color: white;
    background-color: black;
    font-style: italic;
    font-size: 2.5em;
    -webkit-text-size-adjust: none;
  }

  .grid-main-resume {
    padding: 0;
    margin: 0 auto;
    width: 94%;
    height: 60vh;
    display: flex;
  }

  .grid-main-one-resume {

    padding: 0;
    margin: 75px auto;
    width: 50%;
    font-size: 100%;
    align-items: flex-start;
    text-align: left;

  }

  .grid-main-two-resume {

    padding: 0;
    margin: 75px auto;
    width: 50%;
    font-size: 100%;
    align-items: flex-start;
    text-align: left;

  }

  .grid-main-three-resume {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    font-size: 100%;

  }

  h4 {
    padding: 0;
    padding-bottom: 20px;
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    text-decoration: underline;
    color: #5c0a58;

    font-style: italic;
    font-size: 2.5em;
    -webkit-text-size-adjust: none;
  }

  .year {
    padding: 0;
    margin-top: 0%;
    margin-left: 0%;
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    font-weight: bolder;
    color: crimson;
    font-style: italic;
    font-size: 2em;
  }

  .txtResume {
    padding: 5px 0px 15px 0px;
    margin-top: 0%;
    margin-left: 0%;
    font-family: 'Dosis', sans-serif;
    text-decoration: underline;
    color: #5c0a58;
    font-style: italic;
    font-size: 1.4em;
  }

  